:root {
    --balck: #000;
    --white: #fff;
    --darkBlue: #20253b;
    --customGray: #575756;
}

body {
    background-color: var(--balck);
}

.container {
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 220px;
    height: 80px;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="text"] {
    width: 480px;
    height: 80px;
    padding: 1rem;
    border: none;
}

nav {
    display: flex;
    align-items: center;
    margin-inline-end: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: end;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul a {
    display: block;
    text-decoration: none;
    color: var(--white);
}
/* ---------------------------------- search bar --------------------------------------*/
.barra-busqueda {
    position: relative;
}

.overlay {
    content: " ";
    width: 100vw;
    height: 100vh;
    background-color: #20253b;
    opacity: 0.5;
    position: absolute;
    pointer-events: none;
}

.autocomplete-box {
    position: absolute;
    max-height: 580px;
    overflow-y: scroll;
    z-index: 2;
}

.autocomplete-box li {
    display: flex;
    gap: 1%;
    margin: 0;
    padding: 0;
    width: 480px;
    height: 80px;
    list-style: none;
    background-color: #fff;
    color: #575756;
}

.autocomplete-box li div {
    height: 80px;
}

.autocomplete-box li div img {
    object-fit: fill;
    width: 80px;
}

.autocomplete-box:nth-child(2) {
    flex-basis: 70%;
}

/* ---------------------------------- main --------------------------------------*/
.main {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.character-image-container {
    width: 240px;
    height: 310px;
}

.character-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-info-container {
    width: 480px;
    height: 310px;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--white);
    display: none;
    position: absolute;

    z-index: 1;
    transform: translateX(240px);
}

.character-info {
    width: 480px;
    height: 310px;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--white);
    display: none;
    position: absolute;

    z-index: 1;
    transform: translateX(240px);
}

.character-info-container h3 {
    margin: 0;
    padding-block: 1rem;
    background-color: var(--balck);
    color: var(--white);
    padding-inline: 1rem;
}

.character-info-container span {
    padding-inline: 1rem;
}

.character-info-container p {
    margin: 0;
    padding-inline: 1rem;
}
