{% extends "layouts/main.html" %}

{% block main %}
<h2>Main menu</h2>
<a class="link-button" href="/branch">Branches...</a>
<a class="link-button" href="/seller">Sellers...</a>
<a class="link-button" href="/product">Products...</a>
<a class="link-button" href="/category">Categories...</a>
<a class="link-button" href="/sale">Sales...</a>
<h2>Reports</h2>
<a class="link-button" href="/branch/report">Report by branches...</a>
<a class="link-button" href="/seller/report">Report by sellers...</a>
{% endblock %}