{% extends "layouts/main.html" %}

{% block main %}
<form action="/seller/{{id}}" method="post" class="data-form">
    <input type="hidden" name="_METHOD" value="PATCH">
    <div>
        <label><span> First Name: </span>
            <input type="text" name="first_name" value="{{  sellers.first_name  }}">
            {% if first_name is empty %}
            <div class="errors">{{ errors.first_name }}</div>
            {% endif %}
        </label>
    </div>

    <div>
        <label><span> Last Name: </span>
            <input type="text" name="last_name" value="{{  sellers.last_name  }}">
            {% if last_name is empty %}
            <div class="errors">{{ errors.last_name }}</div>
            {% endif %}
        </label>
    </div>

    <div>
        <label><span> DNI: </span>
            <input type="text" name="dni" value="{{  sellers.dni  }}">
            {% if dni is empty %}
            <div class="errors">{{ errors.dni }}</div>
            {% endif %}
        </label>
    </div>

    <div>
        <label><span> Date of birth: </span>
            <input type="date" name="birth_day" value="{{  sellers.birthday  }}">
            {% if birthday is empty %}
            <div class="errors">{{ errors.birthday }}</div>
            {% endif %}
        </label>
    </div>

    <div>
        <label><span> Hiring Date: </span>
            <input type="date" name="hiring_date" value="{{  sellers.hiring_date  }}">
            {% if hiring_date is empty %}
            <div class="errors">{{ errors.hiring_date }}</div>
            {% endif %}
        </label>
    </div>

    <div>
        <label><span> Work id: </span>
            <input type="text" name="work_id" value="{{  sellers.work_id  }}">
            {% if work_id is empty %}
            <div class="errors">{{ errors.work_id }}</div>
            {% endif %}
        </label>
    </div>

    <div>
        <label><span> Phone: </span>
            <input type="text" name="phone" value="{{  sellers.phone  }}">
            {% if phone is empty %}
            <div class="errors">{{ errors.phone }}</div>
            {% endif %}
        </label>
    </div>

    <div>
        <label><span> Branch Office: </span>
            <select name="branches">
                {% for branch in branches %}
                    <option {% if (sellers.id_branch == branch.id) %}
                            selected
                            {% endif %}
                            value="{{ branch.id }}">{{ branch.city }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <input type="submit" value="Submit">
    <a class="link-button" href="/seller">Cancel</a>
</form>
{% endblock %}